<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    table, th, td {
      border: 1px solid;
    }
    table {
      width: 50%;
    }
    </style>
</head>
<body>
    {% if books_all %}
    <table>
        <caption>All books by title</caption>
        <tr>
            <th>Book Title</th><th>Rating</th>
        </tr>
        {% for book in books_all %}
        <tr>
            <td><a href="{% url 'books:detail' book.id %}">{{ book.title }}</a></td>
            <td>{{book.rating}}</td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
        <p>No books are available.</p>
    {% endif %}
</body>
</html>