<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    table, th, td {
      border: 1px solid;
    }
    table {
      width: 50%;
    }
    </style>
</head>
<body>
    {% if books_top10 %}
    <table>
        <caption>Top 10 books by rating</caption>
        <tr>
            <th>Book Title</th><th>Rating</th>
        </tr>
        {% for book in books_top10 %}
        <tr>
            <td><a href="{% url 'books:detail' book.id %}">{{ book.title }}</a></td>
            <td>
                {% load humanize %}
                {{book.rating|floatformat:2}}
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
        <p>No books are available.</p>
    {% endif %}
    <p><a href="{% url 'books:all' %}">All books</a></p>

    <form action="{% url 'books:backfill_books'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <p>Backfill data</p>
            <label for="file">Choose file to backfill data:</label><br>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <input type="file" id="file" name="file"><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

</body>
</html>